.pagination-frame {
  width: fit-content;

  margin: auto;
  padding: 14px;
}

/* =========================================
   Pagination Layout
========================================= */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

/* =========================================
   Pagination Outer Frame
========================================= */

.pagination-frame .rounded-line,
.pagination-frame .rounded-corner {
  opacity: 0.2;
}

.pagination-frame .rounded-corner {
  filter: drop-shadow(0 0 4px rgba(212, 175, 55, 0.12));
}
