.about-container {
  padding: 40px;
  text-align: center;
}

.about-frames-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.about-container a {
  color: var(--accent);
}

.about-title {
  font-size: 1.4rem;
}
